/*********************** start header ***********************/
#header{
    display: flex;
    background-color: rgb(193, 219, 219);
    border-radius: 0px 0px 30px 30px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 200px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
#header_logo{
    width: 250px;
    height: 100px;
}
#left_header , #right_header{
    display: flex;
    gap: 75px;
    align-items: center;
}
#right_header{
    gap: 100px;
}

#search_products{
    width: 340px;
    height: 30px;
    background-color: rgb(161, 250, 241);
    color: rgb(78, 84, 84);
    border: none;
    border-radius: 8px 18px;
    padding: 5px 10px;
    transition: 0.5s all ease;
}
#search_products:hover{
    border-radius: 18px 8px;
}
.about_login_sign-up{
    transition: all 0.5s ease;
}
.about_login_sign-up:hover{
    color: rgb(8, 173, 214);
}
/*********************** end header ***********************/






/*********************** start slider ***********************/
#image_slider{
    position: relative;
    width: 76%;
    height: 500px;
    border: none;
    box-shadow: 0px 0px 10px 3px rgb(161, 250, 241);
    margin: 0 auto;
    margin-top: 15%;
    border-radius:10px ;
    overflow: hidden;
}
#main_slider{
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease;
    
}
.img_slider{
    min-width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/*********************** end slider ***********************/






/*********************** start view products ***********************/
#div_h2_products{
    display: block;
    width: 76%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    padding: 10px;
}
#h2_products{
    display: inline;
    transition: all ease 0.4s;
}

#h2_products:hover{
    color: rgb(151, 165, 178);
}

#ul_products{
    display: flex;
    position: relative;
    align-items: center;
    width: 76%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding:10px;
    
}


#main_products{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    transition: all ease 1s;
    

}
#btn_left_view , #btn_right_view{
    position: absolute;
    border: none;
    background: none;
    
    
}
#btn_right_view{
    right: 10px;
}
#btn_left_view{
    left: 10px;
}
.fa-chevron-left , .fa-chevron-right{
    transition: all ease 0.4s;
}
.fa-chevron-left:hover{
    text-shadow:  1px 1px 10px rgb(0, 255, 0);
}
.fa-chevron-right:hover{
    text-shadow:  0px 0px 10px rgb(0, 255, 0);
}
/*********************** end view products ***********************/




/*********************** start product information ***********************/
.product_information{
    display: flex;
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
    align-items: center;
    
    box-shadow: 0px 0px 10px 3px rgb(161, 250, 241);
    border-radius: 10px;
}
.image_products{
    width: 200px;
    height: 200px;
    border-radius: 7px;
}
.name_products , .prce_products{
    margin: 5px;
    color: rgb(80, 72, 72);
}


/*********************** end product information ***********************/
