*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    font-family: "IRANSans";
    background-color: azure;
    color: rgb(33, 30, 30);
    direction: rtl;
}

button, input , textarea ,select{
    font-family: "IRANSans";
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}
/* _______________________start add font_______________________ */
@font-face{
    font-family: "IRANSans";
    src: url('../font/Iranian\ Sans.ttf') format(truetype);
}

/* _______________________end add font_______________________ */