/*********************** start header ***********************/
#header{
    display: flex;
    background-color: rgb(193, 219, 219);
    border-radius: 0px 0px 30px 30px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 200px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
#header_logo{
    width: 250px;
    height: 100px;
}
#left_header , #right_header{
    display: flex;
    gap: 75px;
    align-items: center;
}
#right_header{
    gap: 100px;
}

#search_products{
    width: 340px;
    height: 30px;
    background-color: rgb(161, 250, 241);
    color: rgb(78, 84, 84);
    border: none;
    border-radius: 8px 18px;
    padding: 5px 10px;
    transition: 0.5s all ease;
}
#search_products:hover{
    border-radius: 18px 8px;
}
.about_login_sign-up{
    transition: all 0.5s ease;
}
.about_login_sign-up:hover{
    color: rgb(8, 173, 214);
}
.header_cart{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: all ease 0.3s;
}
.header_cart:hover{
    color: rgb(8, 173, 214);
}
/*********************** end header ***********************/
/*********************** start view products ***********************/
#view_products{
    display: block;
    width: 76%;
    height: auto;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    margin-top: 200px;
    padding: 50px 20px;
    background-color: rgb(193, 219, 219);
}
#name_image_products{
    display: flex;
    height: auto;
    justify-content:space-around;
    gap: 140px;
}
#submit{
    display: flex;
    height: 95px;
    background-color: rgb(193, 219, 219);
    align-items: center;
    justify-content: center;
    border: none;
    gap: 70%;
    border-radius: 10px 10px 0px 0px; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#submit_quantity{
    width: 140px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border:none;
    background-color: azure;
    transition: all ease 0.4s; 
}
#form_cart{
    display: flex;
    gap: 10px;
}
#description_products{
    display: flex;
    width: 400px;
    height: auto;
    margin-right:119.7975px ;
    border: none;
    background-color: rgb(161, 250, 241);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px rgb(161, 250, 241);
    transition: all ease 0.4s;
}
#submit_quantity:hover{
    background-color: rgb(210, 230, 230);
}
#description_products:hover{
    box-shadow: 0px 0px 10px 3px white;
}
.image_products{
    width: 400px;
    height: 300px;
    border: 3px solid rgb(0, 244, 179);
    padding: 5px;
    border-radius: 10px;
    transition: all ease 0.4s;
}
.image_products:hover{
    padding: 0px;
    border: none;
    box-shadow: 0px 0px 10px 3px rgb(0, 244, 179);
}
.name_products{
    font-size: 35px;
    width: 400px;
    height: auto;
    border: none;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(161, 250, 241);
    box-shadow: 0px 0px 10px 3px rgb(161, 250, 241);
    transition: all ease 0.4s;
    word-wrap: break-word;
}
.name_products:hover{
    box-shadow: 0px 0px 10px 3px rgb(255, 255, 255);
}
.fast_warranty_products{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 20px;
}
.fast_products{
    width: 120px;
    height: auto;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(48, 65, 65);
    background-color: rgb(103, 136, 255);
}
.warranty_products{
    width: 120px;
    height: auto;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(48, 65, 65);
    background-color: rgb(252, 255, 103);
}
.prce_products{
    border-radius: 10px;
    padding: 10px;
    transition: all ease 0.5s;
    animation: move infinite alternate 2s linear;
}
@keyframes move{
    0% {
        box-shadow: 0 -5px 0 0 rgb(111, 255, 231);
    }
    25% {
        box-shadow: 5px 0 0 0 rgb(111, 255, 231); 
    }
    50% {
        box-shadow: 0 5px 0 0 rgb(111, 255, 231); 
    }
    75% {
        box-shadow: -5px 0 0 0 rgb(111, 255, 231); 
    }
    100% {
        box-shadow: 0 -5px 0 0 rgb(111, 255, 231); 
    }
}
.quantity{
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: azure;
    transition: all ease 0.4s;

}
.main_quantity{
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border:none;
    background-color: azure;
}

.quantity:hover{
    background-color: rgb(210, 230, 230);
}

/*********************** end view products ***********************/