<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!------------------=== start form login admin ===------------------>
    <form action="{{admin_login}}" method="post">
        <label for="">username</label>
        <input type="text">
        <label for="">password</label>
        <input type="password">
        <button type="submit">login</button>
    </form>
    <!------------------=== end form login admin ===------------------>
</body>
</html>