<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{namepage}}</title>
</head>
<body>
    <!------------------=== start form login admin ===------------------>
    <form action="{{admin_login}}" method="post">
        <label for="">username</label>
        <br>
        <input type="text" name="username_admin">
        <br>
        <label for="">password</label>
        <br>
        <input type="text" name="password_admin">
        <br>
        <button type="submit">login</button>
    </form>
    <!------------------=== end form login admin ===------------------>
</body>
</html>