<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/users/cart_user.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './font/fontawesome/css/all.css')}}">
    <title>{{namepage}}</title>
</head>
<body>
<!------------------=== start header ===------------------>
    <header id="header">
        <ul id="right_header">
            <li>
                <a href="/"><img src="{{url_for('static' , filename = './image logo/mtr_shop_image.png')}}" id="header_logo" alt="logo"></a>
            </li>
            <li>
                <form action="">
                    <input type="text" id="search_products" placeholder="اسم محصول را وارد کنید">
                </form>
            </li>
        </ul>
        
        <ul id="left_header">
            {%if login == False %}
                <li>
                    <a href="/log-in" class = "about_login_sign-up"><span> <i class="fa fa-sign-in-alt"></i> وارد یا ثبت نام</span></a>
                </li>
            {%endif%}

            
            {%if login == 'true'%}
                <li>
                    <a href="/user/profile" class = "about_login_sign-up"><span> <i class="fa fa-user-circle"></i> پروفایل </span></a>
                </li>
            {%endif%}
            <li>
                <a href="/" class = "about_home"><span> <i class="fa fa-home"></i> صفحه اصلی </span></a>
            </li>

            <li>
                <a href="/about" class = "about_login_sign-up"><span> <i class="fa fa-user"></i> درباره من </span></a>
            </li>


        </ul>
    </header>
<!------------------=== end header ===------------------>




<!------------------=== start user product ===------------------>

    <div id="user_product">
        <ul id="main_user_product">
            {%for p in allUser_product%}
                <li class="li_products">
                    <a href="/products/{{p[0]}}/{{p[1]}}" class="main_products">
                        <div class="div_products">
                            <p class="name_products">{{p[1]}}</p>
                            <div class="div_prce_quantity">
                            {%if p[6] != 'off'%}
                                <span class="products_fast">{{'ارسال سریع' if p[6] == 'on'}}</span>
                            {%endif%}
                                <p class="warranty_products">{{p[7]}} ماه گارانتی</p>
                            </div>
                        </div>
                        <img src="/static/imagesProducts/{{p[0]}}.jpg" alt="" class="image_cart_user">
                    </a>
                    <div id="cart_quantity">
                        <p class="prce_products">قیمت: تومان  <span class="main_prce_products">{{p[2]}} </span></p>
                        <form action="{{ url_for('cart') }}" method="post" id="form_cart">
                            <input type="hidden" name="product" value="{{p[0]}}">
                            <input type="button" value="-" class="quantity quantity_remove">
                            <input type="number" name="quantity" value="{{p[8]}}" min="1" max="{{p[5]}}" class="main_quantity">
                            <input type="button" value="+" class="quantity quantity_add">
                            <button type="submit" id="submit_quantity" style="display: none;"></button>
                        </form>
                    </div>
                    
                </li>
            {%endfor%}
        </ul>
    </div>

<!------------------=== end user product ===------------------>
</body>
</html>