<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/home.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './font/fontawesome/css/all.css')}}">
    <title>{{namepage}}</title>
</head>
<body>



<!------------------=== start header ===------------------>
    <header id="header">
        <ul id="right_header">
            <li>
                <a href=""><img src="../static/image/mtr shop image.png" id="header_lego" alt="lego"></a>
            </li>
            <li>
                <form action="">
                    <input type="text" id="search_products" placeholder="اسم محصول را وارد کنید">
                </form>
            </li>
        </ul>
        
        <ul id="left_header">

            <li>
                <a href="/log-in" class = "about_login_sign-up"> وارد </a>
            </li>
            
            <li>
                <a href="/sign-up" class = "about_login_sign-up"> ثبت نام </a>
            </li>

            <li>
                <a href="/about" class = "about_login_sign-up"> درباره من </a>
            </li>          
        </ul>
    </header>
<!------------------=== end header ===------------------>





<!------------------=== start list view products ===------------------>
    <ul>
        {%for p in all_products%}
            <li>
                <a href="/products/{{p[0]}}/{{p[1]}}">
                    <img src="/static/imagesProducts/{{p[0]}}.jpg" alt="">
                    <p>{{p[1]}}</p>
                    <span>{{p[2]}}</span>
                </a>
                
            </li>
        {%endfor%}
    </ul>
<!------------------=== start list view products ===------------------>
</body>
</html>