<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/home.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './font/fontawesome/css/all.css')}}">
    <title>{{namepage}}</title>
</head>
<body>



<!------------------=== start header ===------------------>
    <header id="header">
        <ul id="right_header">
            <li>
                <a href=""><img src="../static/image logo/mtr shop image.png" id="header_logo" alt="logo"></a>
            </li>
            <li>
                <form action="">
                    <input type="text" id="search_products" placeholder="اسم محصول را وارد کنید">
                </form>
            </li>
        </ul>
        
        <ul id="left_header">

            <li>
                <a href="/log-in" class = "about_login_sign-up"><span> <i class="fa fa-sign-in-alt"></i> وارد یا ثبت نام</span></a>
            </li>

            <li>
                <a href="/about" class = "about_login_sign-up"><span> <i class="fa fa-user"></i> درباره من </span></a>
            </li>          

            <li>
                <a href="/product/cart" class="header_cart"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </li>
        </ul>
    </header>
<!------------------=== end header ===------------------>



<!------------------=== start Slider ===------------------>


<div id="image_slider">
    <div id="main_slider">    
        <img src="../static/image slider/image-1.png" alt="" class="img_slider">
        <img src="../static/image slider/image-2.png" alt="" class="img_slider">
        <img src="../static/image slider/image-3.png" alt="" class="img_slider">
    </div>

</div>


<!------------------=== end Slider ===------------------>


<!------------------=== start list view products ===------------------>
    <div id="div_h2_products">
        <h2 id="h2_products"><a href="">تمامی محصولات <i class="fa fa-angle-double-left"></i></a></h2>
    </div>
    <ul id="ul_products">     
        <div id="main_products">
            {%for p in all_products%}
                <li class="product_information">
                    <a href="/products/{{p[0]}}/{{p[1]}}">
                        <img src="/static/imagesProducts/{{p[0]}}.jpg" alt="" class="image_products">
                        <span class="name_products">{{p[1]}}</span>
                        {%if p[6] != 'off'%}
                            <span class="products_fast">{{'ارسال سریع' if p[6] == 'on'}}</span>
                        {%endif%}
                        <span class="prce_products">{{p[2]}}</span>
                    </a>
                </li>
            {%endfor%}
        </div>
        <button id="btn_right_view"><i class="fa fa-chevron-right fa-2x"></i></button>
        <button id="btn_left_view"><i class="fa fa-chevron-left fa-2x"></i></button>
    </ul>

<!------------------=== start list view products ===------------------>
<script src="../static/js/home.js"></script>
</body>
</html>