<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{namepage}}</title>
</head>
<body>
    <!------------------=== start form peoducts ===------------------>
    <form action="{{products}}" method="post">
        <label for="">نام محصول</label> <br>
        <input type="text" name="name" placeholder="نام محصول"> <br>

        <label for="">قیمت محصول</label> <br>
        <input type="text" name="prce" placeholder="قیمت محصول"> <br>

        <label for="">توضیحات محصول</label> <br>
        <textarea name="description"  placeholder="توضیح محصول"> </textarea> <br>

        <label for="">موجودی محصول</label> <br>
        <input type="checkbox" name="active"> <br>

        <button type="submit">تایید</button>
    </form>


        <!------------------=== end form peoducts ===------------------>




    <!------------------=== start tabel watch products ===------------------>
    <table>
        <tr>
            <th>نام محصول</th>
            <th>توضیحات محصول</th>
            <th>قیمت محصول</th>
            <th>فعال</th>
        </tr>
    {%for i in all_products%}
    <tr>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td>{{'فعال' if i[4] == 'on' else 'غیرفعال'}}</td>
    </tr>
    {%endfor%}
    </table>
    <!------------------=== end tabel watch products ===------------------>

</body>
</html>