<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/view_products.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './font/fontawesome/css/all.css')}}">
    <title>{{namepage}}</title>
</head>
<body>
<!------------------=== start header ===------------------>
    <header id="header">
        <ul id="right_header">
            <li>
                <a href="/"><img src="{{url_for('static' , filename = './image logo/mtr_shop_image.png')}}" id="header_logo" alt="logo"></a>
            </li>
            <li>
                <form action="">
                    <input type="text" id="search_products" placeholder="اسم محصول را وارد کنید">
                </form>
            </li>
        </ul>
        
        <ul id="left_header">

            <li>
                <a href="/log-in" class = "about_login_sign-up"><span> <i class="fa fa-sign-in-alt"></i> وارد یا ثبت نام</span></a>
            </li>

            <li>
                <a href="/about" class = "about_login_sign-up"><span> <i class="fa fa-user"></i> درباره من </span></a>
            </li>          

            <li>
                <a href="/product/cart" class="header_cart"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </li>
        </ul>
    </header>
<!------------------=== end header ===------------------>




<!------------------=== start view products ===------------------>
    <div id="view_products">
        <div id="name_image_products">
            <div>
                <p class="name_products">{{one_products[1]}}</p>
                <div class="fast_warranty_products">
                        {%if one_products[6] != 'off'%}
                            <p class="fast_products">{{'ارسال سریع' if one_products[6] == 'on'}}</p>
                        {%endif%}

                    <p class="warranty_products">{{one_products[7]}} ماه گارانتی</p>
                </div>
            </div>
            <img src="/static/imagesProducts/{{one_products[0]}}.jpg" alt="image product" class="image_products">
        </div>

        <div id="description_products">
            <p class="main_description_products">{{one_products[3]}}</p>
        </div>

    </div>
    <div id="submit">
        <p class="prce_products">قیمت: تومان  <span class="main_prce_products">{{one_products[2]}} </span></p>
        <form action="{{ url_for('cart') }}" method="post" id="form_cart">
            <input type="hidden" name="product" value="{{one_products[0]}}">
            <input type="button" value="-" class="quantity quantity_remove">
            <input type="number" name="quantity" value="1" min="1" max="{{one_products[5]}}" class="main_quantity">
            <input type="button" value="+" class="quantity quantity_add">
           <button type="submit" id="submit_quantity">افزودن به سبد خرید</button>
        </form>
    </div>
<!------------------=== end view products ===------------------>


<script src="{{url_for('static' , filename = './js/view_products.js')}}"></script>
</body>
</html>