<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/users/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './font/fontawesome/css/all.css')}}">
    <title>{{namepage}}</title>
</head>
<body>

    <!------------------=== start header ===------------------>
    <header id="header">
        <ul id="right_header">
            <li>
                <a href="/"><img src="{{url_for('static' , filename = './image logo/mtr_shop_image.png')}}" id="header_logo" alt="logo"></a>
            </li>
            <li>
                <form action="">
                    <input type="text" id="search_products" placeholder="اسم محصول را وارد کنید">
                </form>
            </li>
        </ul>
        
        <ul id="left_header">

            <li>
                <a href="/" class = "about_home"><span> <i class="fa fa-home"></i> صفحه اصلی </span></a>
            </li>

            <li>
                <a href="/about" class = "about_home"><span> <i class="fa fa-user"></i> درباره من </span></a>
            </li>          

        </ul>
    </header>
<!------------------=== end header ===------------------>



    <!--------------------__=== start form login users ===__-------------------->
    <div id="form_login">
        <form action="{{login}}" method="post" id="main_form_login">
            <h2>ورود</h2>
            <input type="text" name="username_user" id="username" placeholder="نام کاربری">
            <input type="password" name="password_user" id="password" placeholder="پسورد">
        {%if error%}
            <p class="error">{{error}}</p>
        {%endif%}
            <button type="submit" id="login">ورود</button>
            <a href="/sign-up" class="sign_up">ثبت نام</a>
        </form>
    </div>
    <!--------------------__=== end form login users ===__-------------------->
</body>
</html>