<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{namepage}}</title>
</head>
<body>
    <!--------------------__=== start form login users ===__-------------------->
    {%if error%}
        <p>{{error}}</p>
    {%endif%}
    <form action="{{login}}" method="post">
        <label for="">نام کاربری</label><br>
        <input type="text" name="username_user" id=""><br>
        <label for="">پسورد</label><br>
        <input type="password" name="password_user" id=""><br>
        <button type="submit">ورود</button>
    </form>
    <!--------------------__=== end form login users ===__-------------------->
</body>
</html>