<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/users/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './font/fontawesome/css/all.css')}}">
    <title>{{namepage}}</title>
</head>
<body>
    <!--------------------__=== start form login users ===__-------------------->
    <div id="form_login">
        <form action="{{login}}" method="post" id="main_form_login">
            <h2>ورود</h2>
            <input type="text" name="username_user" id="username" placeholder="نام کاربری">
            <input type="password" name="password_user" id="password" placeholder="پسورد">
        {%if error%}
            <p class="error">{{error}}</p>
        {%endif%}
            <button type="submit" id="login">ورود</button>
            <a href="/sign-up" class="sign_up">ثبت نام</a>
        </form>
    </div>
    <!--------------------__=== end form login users ===__-------------------->
</body>
</html>