<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = './font/fontawesome/css/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/users/profile_user.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/reset.css')}}">
    <title>{{namepage}}</title>
</head>
<body>
    
</body>
</html>