<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = './font/fontawesome/css/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/users/profile_user.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/reset.css')}}">
    <title>{{namepage}}</title>
</head>
<body>
<!------------------=== start header ===------------------>
    <header id="header">
        <ul id="right_header">
            <li>
                <a href="/"><img src="{{url_for('static' , filename = './image logo/mtr_shop_image.png')}}" id="header_logo" alt="logo"></a>
            </li>
            <li>
                <form action="">
                    <input type="text" id="search_products" placeholder="اسم محصول را وارد کنید">
                </form>
            </li>
        </ul>
        
        <ul id="left_header">

            <li>
                <a href="/" class = "about_home"><span> <i class="fa fa-home"></i> صفحه اصلی </span></a>
            </li>

            <li>
                <a href="/about" class = "about_home"><span> <i class="fa fa-user"></i> درباره من </span></a>
            </li>          

        </ul>
    </header>
<!------------------=== end header ===------------------>







<!------------------=== start profile user ===------------------>
<div id="profile">
    <div id="menubar">
        <ul id="menubar_main">
            <li class="button_profile">
                <button class="button_profile_main button_page_setting">تنظیمات صفحه</button>
            </li class="button_profile">
            <li  class="button_profile">
                <button class="button_profile_main button_changeing">تغییرات</button>
            </li>
            <li class="button_profile">
                <button class="button_profile_main button_product_status">وضعیت محصول</button>
            </li>
            <li class="button_profile">
                <button class="button_profile_main">خروج از حساب کاربری</button>
            </li>
            <li class="button_profile">
                <button class="button_profile_main">حذف حساب کاربری</button>
            </li>
        </ul>
    </div>
    <div id="settings">
        <div id="page_settings">
            <h2>تنظیمات صفحه</h2>
            
            <div>
                <h3>تغییر تم</h3>
                <button>تم تیره</button>
                <button>تم  روشن</button>
            </div>

        </div>
        <div id="changeing">
            <h2>تغییرات</h2>
        </div>
        <div id="product_status">
            <h2>وضعیت محصول</h2>
        </div>
    </div>
</div>









<!------------------=== end profile user ===------------------>






<script src="/static/js/users/profile_user.js"></script>
</body>
</html>