<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{namepage}}</title>
</head>
<body>
    <!--------------------__=== start form sign up user ===__-------------------->
    <form action="{{sign_up}}"  method="post">
        <label for="text">نام کاربری</label><br>
        <input type="" name="username" id=""><br>

        <label for="">پسورد</label><br>
        <input type="password" name="password" id=""><br>

        <label for="">شماره تلفن</label><br>
        <input type="text" name="phone" id=""><br>

        <label for="">آدرس</label><br>
        <input type="text" name="address" id=""><br>
        
        <button type="submit">تایید</button>
    </form>
    <!--------------------__=== end form sign up user ===__-------------------->
</body>
</html>