<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './css/users/sign_up.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './font/fontawesome/css/all.css')}}">
    <title>{{namepage}}</title>
</head>
<body>

<!------------------=== start header ===------------------>
    <header id="header">
        <ul id="right_header">
            <li>
                <a href="/"><img src="{{url_for('static' , filename = './image logo/mtr_shop_image.png')}}" id="header_logo" alt="logo"></a>
            </li>
            <li>
                <form action="">
                    <input type="text" id="search_products" placeholder="اسم محصول را وارد کنید">
                </form>
            </li>
        </ul>
        
        <ul id="left_header">

            <li>
                <a href="/" class = "about_home"><span> <i class="fa fa-home"></i> صفحه اصلی </span></a>
            </li>

            <li>
                <a href="/about" class = "about_home"><span> <i class="fa fa-user"></i> درباره من </span></a>
            </li>          

        </ul>
    </header>
<!------------------=== end header ===------------------>




<!--------------------__=== start form sign up user ===__-------------------->
    <div id="form_login">
        <form action="{{sign_up}}"  method="post" id="main_form_sign_up">
            <input type="" name="username" id="username" placeholder="نام کاربری">
    
            <input type="password" name="password" id="password" placeholder="پسورد">
    
            <input type="text" name="phone" id="phone" placeholder="شماره تلفن">
    
            <input type="text" name="address" id="address" placeholder="آدرس">
            
            <button type="submit" id="sign_up">تایید</button>

            <a href="" class="login">ورود</a>
        </form>
    </div>
<!--------------------__=== end form sign up user ===__-------------------->
</body>
</html>